<meta charset="utf-8">
<title><%= title %></title>

<style>
iframe {
  border: 1px solid gray;
}
.rn-components {
  border: 1px dashed gray;
}
</style>
<link href="/scripts/styles.css" rel="stylesheet">
<script src="https://use.fontawesome.com/773336d832.js"></script>
