<meta charset="utf-8">
<title><%= title %></title>
<meta name="viewport" content="width=device-width, initial-scale=1">

<style>
iframe {
  border: 1px solid gray;
  max-width:640px;
  width:100%;
}
.rn-components {
  border: 1px dashed gray;
}
</style>
<link href="/scripts/styles.css" rel="stylesheet">
<script src="https://use.fontawesome.com/773336d832.js"></script>
