<!doctype html>
<html>
<head>
  <% include ./partials/head %>
</head>
<body>
  <div id="main-contents"></div>
  <footer>
  <% include ./partials/footer %>
  </footer>
  
  <script>
  var g_user_data = JSON.parse('<%- JSON.stringify(user_data) %>')
    , g_file_data = JSON.parse('<%- JSON.stringify(file_data) %>');
  </script>
  <script src="/scripts/skyway-box-react-file.build.js"></script>
</body>
</html>
