<!doctype html>
<html>
<head>
  <% include ./partials/head %>
  <style>
    .skyway-video-chat {
      width: 320px;
      position: fixed;
      bottom : 34px;
      right : 3px;
    }
    .skyway-video-chat button{
      text-align: right;
    }
    .bg-faded {
      background-color: #ffdfc7;
    }
  </style>
</head>
<body>

  <div id="main-contents"></div>

  <footer>
    <% include ./partials/footer %>
  </footer>
  <script>
    var g_user_data = JSON.parse('<%- JSON.stringify(user_data) %>');
    var g_file_data = JSON.parse('<%- JSON.stringify(file_data) %>');

    g_file_data.shared = true;

  </script>
  <script type='text/javascript' src='//cdn.skyway.io/skyway.min.js'></script>
  <script src="/scripts/skyway-box-react-shared-file.build.js"></script>

</body>
</html>
